{% extends 'alumno/home_estudiante.html' %}
{% block content %}
  <div class="col">
  <h1 class="font-italic text-center ">Listado de mis Tareas</h1>
  {% if object_list %}
  <div class="row">
    {% for tareas in object_list %}
       <div class="col-3 mt-5">
          <div class="card h-100">
               <h1 class="font-italic text-center pt-4"><span class="fas fa-book-reader"></span></h1>
            <div class="card-body">
              <h5 class="card-title text-center ">{{tareas.titulo}}</h5>
              <div class="justify-content-center d-flex  bd-highlight">
                <h6 class="text-wrap">ID: <span class="font-weight-light">{{tareas.id}}</span></h6>
              </div>
              <p class="card-text">{{tareas.descripcion_2}}</p>
              <p class="card-text">{{tareas.fecha_entrega}}</p>
              <a href="{% url 'alumno:entregar_trabajos' %}" class = "btn btn-primary ">Entregar</a>
            </div>
          </div>
       </div>
    {% endfor %}
  </div>
  {% else %}
  <h1>NO EXISTEN MATERIAS REGISTRADAS </h1>
  {% endif %}
  </div>
{% endblock %}
