<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!--Grid rowJAJA-->

    <div class="justify-content-center d-flex  bd-highlight">
      <h6>Dirección: <span class="font-weight-light ">Unidad educativa Gotitas del saber</span></h6>
    </div>
    <div class="justify-content-center d-flex  bd-highlight">
      <h6 class="text-wrap">Email: <span class="font-weight-light">gotitasdelsaber@gmail.com</span></h6>
    </div>
    <div class="justify-content-center d-flex  bd-highlight">
      <h6>Teléfono: <span class="font-weight-light">03 2254785 - 0999999</span></h6>
    </div>

  <!--Grid row-->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">© 2020 Copyright:
    <a href="http://www.utc.edu.ec/"> Universidad Tecnica de Cotopaxi</a>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
