{% extends 'docente/home_docente.html' %}
{% block content %}
  <div class="col">
  <h1 class="font-italic text-center "> Trabajos entregados</h1>
    {% if object_list %}
     <div class="card">
         <div class="card-header">
             <div class="row">
                 <div class="col-md-8">
                     <strong class="card-title">Listado de Trabajos</strong>
                 </div>
             </div>
         </div>
         <div class="table-stats order-table ov-h table-responsive-sm" >
             <table id="tabla_trabajos" class="table table-hover" >
                 <thead class="thead-dark">
                     <tr>
                         <th scope="col">Id</th>
                         <th scope="col">Alumno</th>
                         <th scope="col">trabajo</th>
                         <th scope="col">completada</th>
                     </tr>
                 </thead>
                 <tbody>
                   {% for trabajo in object_list %}
                   <tr>
                     <td>{{trabajo.id}}</td>
                     <td>{{trabajo.alumno_id}}</td>
                     <td><a href="{{ trabajo.trabajo.url }}" class="btn btn-primary btn-sm" target="_blank">Ver Trabajo</a></td>
                     <td>{{trabajo.completada}}</td>
                   </tr>
                   {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>
     {% else %}
     <h1>NO EXISTEN TRABAJOS ENTREGADOS </h1>
     {% endif %}
  </div>
{% endblock %}
